{% extends 'base.html.twig' %}

{% block title %}Создать новый заказ{% endblock %}

{% block page_title %}Создание заказа{% endblock %}
{% block page_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                {{ form_start(creationForm) }}
                    {{ form_row(creationForm.serviceName, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(creationForm.complexity, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(creationForm.urgency, {'attr': {'class': 'form-control'}}) }}
                    {{ form_row(creationForm.submit, {'attr': {'class': 'btn btn-dark'}}) }}
                {{ form_end(creationForm) }}
            </div>
        </div>
    </div>
{% endblock %}