{% extends 'base.html.twig' %}

{% block title %}Список заказов{% endblock %}

{% block page_title %}Закрепленные заказы{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row justify-content-center">
            {{ form_start(filter, {'attr': {'class': 'form-inline'}}) }}
            {{ form_row(filter.orderStatus, {'attr': {'class': 'form-control mr-4'}}) }}
            {{ form_row(filter.filterParams, {'attr': {'class': 'form-control mr-4'}}) }}
            {{ form_row(filter.filter, {'attr': {'class': 'btn btn-dark mt-4'}}) }}
            {{ form_end(filter) }}
        </div>
        <div class="row justify-content-center">
            <div class="col-8 pt-5">
                {% for order in orders %}
                    <div class="card mb-3">
                        <div class="card-body row">
                            <div class="col-10">
                                <h6>Заказ №{{ order.id }}</h6>
                                <ul>
                                    <li>Услуга: {{ order.serviceName.name }}</li>
                                    <li>Принят: {{ order.receiveDate| date ('Y-m-d')}}</li>
                                    <li>Выполнить до: {{ order.endingDate| date ('Y-m-d') }}</li>
                                </ul>
                            </div>
                            <div class="col">
                                <button type="button" data-order-id="{{ order.id }}" class="btn btn-sm btn-dark view-full-order">Просмотр</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.view-full-order').click(function () {
               window.location.href = '/employee/order/' + $(this).attr('data-order-id');
            });
        });
    </script>
{% endblock %}