{% extends 'base.html.twig' %}

{% block title %}Привилегии{% endblock %}

{% block page_title %}Привилегии{% endblock %}

{% block page_content %}
    <div class="container">
        <div>
            <h4>Ускоренное обслуживание</h4>
            <p>
                Мы делаем свою работу не только качественно, но и быстро. Но это не значит, что мы не может делать ее еще быстрее.
                К вашим услугам - дополнительные опции ускорения обслуживания
            </p>
        </div>
        <div class="row justify-content-start">
        {% for item in urgency %}
                <div style="width: 18rem;" class="card col-4 pr-2 mb-2">
                    <img class="card-img-top" src="{{ item.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <a href="{{ path('order_creation', {'urgency': item.id}) }}" class="btn btn-primary">Выбрать</a>
                    </div>
                </div>
        {% endfor %}
        </div>

        <div>
            <h4>Классы сложности</h4>
            <p>
                Сложные случаи - не проблема. У нас есть опции по особо сложным вещам.
                Будьте всегда уверены в безупречности результата
            </p>
        </div>
        <div class="row justify-content-start">
        {% for item in complexity %}
                <div style="width: 18rem;" class="card col-4 pr-2 mb-2">
                    <img class="card-img-top" src="{{ item.image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.description }}</p>
                        <a href="{{ path('
', {'complexity': item.id}) }}" class="btn btn-primary">Выбрать</a>
                    </div>
                </div>
        {% endfor %}
        </div>

    </div>
{% endblock %}